<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/main.css" />
        <title>Shorty</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <main>
            <%- body %>
        </main>
        <script src="bower_components/jquery/dist/jquery.slim.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/axios/dist/axios.min.js"></script>
        <script src="bower_components/clipboard/dist/clipboard.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script> -->
        <script src="js/feather.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
